<div>
  <!-- <h2>Parent Component</h2>
Name :<input type="text" #nameRef/><br/>
<input type="button" value="Pass Value"
(click)="passName(nameRef)"/>
<br/>
Parent name in parent component is {{parentName}}
<br/>
Child age is in parent component {{cAge}}<br/>
<input type="button"
value="Get Child Designation"
(click)="getChildDesg()"/><br/>
Child designation is {{childDesg}}

  <hr/>
    <app-child1 [pname]="parentName"
    [studentsName]="stdNames"
    (eventRef)="cAge=$event"></app-child1>
    <br/>
   
  <hr/> -->
  <app-child2></app-child2>
  <hr/>
  <app-child3></app-child3>
</div>